/* CONTAINER */
@media (max-width: 576px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 576.99px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}

/* HEADER */
@media (max-width: 576px) {
    #header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 2rem;
    }

    #container-logo {
        width: 100%;
    }

    #header-img {
        width: 100%;
    }

    #nav-bar {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin: 0px;
    }

    #nav-bar > * {
        font-size: 2.2rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #header {
        flex-direction: column;
        gap: 2rem;
    }

    #nav-bar {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin: 0px;
    }

    #nav-bar > * {
        font-size: 3.2rem;
    }
}

@media (min-width: 1024.99px) and (max-width: 1200px) {
    #header {
        flex-direction: row;
    }

    #nav-bar {
        flex-direction: row;
        margin: 0px;
    }
}

@media (min-width: 1200.99px) {
    #nav-bar {
        gap: 10rem;
    }
}