/* HEADER */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#container-logo {
    text-align: center;
    width: 50rem;
}

#header-img {
    width: 100%;
}

#nav-bar {
    display: flex;
    justify-content: space-evenly;
    margin-right: 100px;
}

#nav-bar > * {
    font-size: 1.665rem;
}

.nav-link {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
}